@import url("menu.css");
@import url("carrito.css");
@import url("index.css");
@import url("login.css");
@import url("cabecera.css");
@import url("quienes somos.css");
@import url("catalogo.css");
@import url("pie.css");

@font-face {
    font-family: 'Font1';
    src: url('../fonts/Font1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Font1', Consolas, sans-serif;
}

body {
    background-color: rgb(29, 28, 28);
}

.header {
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    height: 170px;
    width: auto;
    max-width: 100%;
    display: block;
    margin-top: -40px;
    margin-bottom: -20px;
}

.metricas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}