@import url(menu.css);

* {
    margin: 0;
    padding: 0;
    font-family: Consolas, Helvetica, sans-serif;
}

body {
    background-color: rgb(29, 28, 28)
}
.header {
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}


.logo {
    height: 120px;
    width: auto;

    max-width:  100%;
    display: block;

    margin-left: -8px;
    margin-top: -10px;
}


.metricas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}